/* Added formating for body */

body {
    padding: 5px;
    display: inline;
    font-family: 'Arvo', serif;
    background-image: url("https://images.squarespace-cdn.com/content/v1/595db0b044024313332d1ef8/1556474281600-4IJ603AMV0F01P2PLV6Y/ke17ZwdGBToddI8pDm48kNiEM88mrzHRsd1mQ3bxVct7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0s0XaMNjCqAzRibjnE_wBlkZ2axuMlPfqFLWy-3Tjp4nKScCHg1XF4aLsQJlo6oYbA/White+Marble2.jpg?format=2500w");
    background-repeat: repeat;

}




.container {
    font-family: 'Arvo', serif;
    text-align: left;
    color: black;


}

h1 {
    font-weight: bolder;
    font-size: 90px;

}





.card {
    background-color: white;
    text-align: center;
    margin-left:

}


img {
    margin-top: 13%;
}


.aboutMe {
    margin-top: 4%;

    margin-right: 10%;
    margin-left: 10%;
}

article {
    margin-left: 25%;
}